{% extends "base.html" %}
{% block content %}
<h2>🎬 Lista de Filmes Disponíveis</h2>
<ul style="list-style: none; padding-left: 0; padding: 2rem">
  {% for video in videos %}
    <li style="margin-bottom: 1rem;">
      <a href="{% url 'streaming_player' filename=video %}" style="color: rgb(199, 199, 41); font-weight: bold; text-decoration: none;">
        <i class="fas fa-film"></i> {{ video }}
      </a>
    </li>
  {% empty %}
    <li>Nenhum vídeo encontrado no bucket.</li>
  {% endfor %}
</ul>
{% endblock %}
